@using LearnVocabulary.ViewModels
@model WordWithTurkishSorted

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<style>

    .sortableTable {
        margin-top: 20px;
        display: none;
    }

    .btn-secondary {
        margin-right: 10px;
        margin-bottom: 10px;
    }
</style>

<h2 class="font-wight-bold">Words List</h2>

<div class="btn-group" role="group" aria-label="Sort Buttons">
    @foreach (var list in new List<List<UnknownWord>>
    {
    Model.SortedByLevelAscending,
    Model.SortedByLevelDescending,
    Model.SortedByDateAscending,
    Model.SortedByDateDescending,
    Model.SortedByViewsAscending,
    Model.SortedByViewsDescending
    })
    {
        <button class="btn btn-secondary" onclick="showList('@list.GetHashCode()')">Show @GetListName(list)</button>
    }
</div>

@foreach (var list in new List<List<UnknownWord>>
{
    Model.SortedByLevelAscending,
    Model.SortedByLevelDescending,
    Model.SortedByDateAscending,
    Model.SortedByDateDescending,
    Model.SortedByViewsAscending,
    Model.SortedByViewsDescending
})
{
    <table class="table table-bordered table-striped sortedTable" id="@list.GetHashCode()">
        <thead class="thead-dark">
            <tr>
                <th>English Text</th>
                <th>Turkish Text</th>
                <th>Level</th>
                <th>Views</th>
                <th>Word Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var word in list)
            {
                <tr>
                    <td>@word.EnglistText</td>
                    <td>@word.TurkishText <a asp-action="UpdateWord" asp-route-id="@word.Id" asp-class="btn btn-primary">Update Word</a> </td>
                    <td>@word.Level</td>
                    <td>@word.NumberOfViews</td>
                    <td>@word.WordDate</td>
                    <td>
                        <a asp-action="GetWordSentences" asp-route-id="@word.Id" asp class="btn btn-primary">Show Sentences</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}




<script>
    function showList(listId) {
        $('table').hide();
        $('#' + listId).toggle();
    }
</script>

@functions {
    string GetListName(List<UnknownWord> list)
    {
        if (list == Model.SortedByLevelAscending)
        {
            return "Sorted By Level (Ascending)";
        }
        else if (list == Model.SortedByLevelDescending)
        {
            return "Sorted By Level (Descending)";
        }
        else if (list == Model.SortedByDateAscending)
        {
            return "Sorted By Date (Ascending)";
        }
        else if (list == Model.SortedByDateDescending)
        {
            return "Sorted By Date (Descending)";
        }
        else if (list == Model.SortedByViewsAscending)
        {
            return "Sorted By Views (Ascending)";
        }
        else if (list == Model.SortedByViewsDescending)
        {
            return "Sorted By Views (Descending)";
        }
        else
        {
            return "Unknown List";
        }
    }
}