@model List<UnknownWord>

<h2>Words List</h2>

<button onclick="sortTableNumeric(2)" asp class="btn btn-primary">Sırala (Level)</button>

<table class="table">
    <thead>
        <tr>
            <th>English Text</th>
            <th>Turkish Text</th>
            <th>Level</th>
            <th>Word Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var word in Model)
        {
            <tr>
                <td>@word.EnglistText</td>
                <td>@word.TurkishText</td>
                <td>@word.Level</td>
                <td>@word.WordDate</td>
                <td>
                    <a asp-action="GetWordSentences" asp-route-id="@word.Id" asp class="btn btn-primary">Show Sentences</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>

    function sortTableNumeric(columnIndex) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.querySelector(".table");
        switching = true;

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < rows.length - 1; i++) {
                shouldSwitch = false;

                x = parseInt(rows[i].cells[columnIndex].innerText);
                y = parseInt(rows[i + 1].cells[columnIndex].innerText);

                if (x < y) {
                    shouldSwitch = true;
                    break;
                }
            }

            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
</script>